{% macro render() %}
  <div class="c-demo-notification c-demo-notification--hidden" data-demo-notification>
    <div class="c-demo-notification__background"></div>
    <button class="c-demo-notification__close" data-demo-notification-toggle>←</button>
    <div class="c-demo-notification__container">
      <div class="c-demo-notification__content">
        <h5 class="c-demo-notification__headline">Derechos de autor:!</h5>
        <p class="c-demo-notification__body">
        <a href="https://apostrophecms.org/docs/tutorials/getting-started/index.html" target="_blank" >Plataforma de desarrollo: ApostropheCMS</a>. Todos los derechos reservados por: Lider del proyecto: Lizeth Perez, Desarrolladores: Miguel Palacios y Bryant Moncada, Tester: Lina Ramirez.
        </p>
      </div>
      <div class="c-demo-notification__button">
        <a href="https://wa.me/573058123311?text=Me%20gustaría%20tener%20soporte%20para%20la%20web" target="_blank">Contacto</a>
      </div>
    </div>
  </div>
{% endmacro %}
